.container {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#id_username {

}

#id_password {
    margin-left: 5px;
}

form {
    display: inline-block;
}

.field-wrapper {
    text-align: center;
}

.btn {
    width: 100%;
}

