<!DOCTYPE html>
<html lang="ru"> 
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if form.errors %}
    <p>Произошла ошибка!</p>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
    </form>
</body>
</html>

